html {
    font-size: 24px;
  }
  
  @media (max-width: 1400px) {
    html {
      font-size: 21px;
    }
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: 18px;
    }
  }
  
  @media (max-width: 992px) {
    html {
      font-size: 15px;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 10px;
    }
  }
  
  .body {
    background-color: #e3e2ff;
  }
  
  .header {
    display: flex;
    align-items: center;
    width: calc(100vw - 5rem);
    height: 100px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2rem;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .logo {
    font-family: Avantt, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: #333;
  }
  
  .button {
    /* padding: 10px 20px; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    float: left;
    height: 45px;
    min-height: 30PX;
    width: 220px;
    min-width: 160PX;
    font-size: clamp(14PX, 16PX, 16PX);
    font-family: Avantt, sans-serif;
    color: white;
    background-color: #7D3C98;
    /* 根据图片中的按钮颜色进行了假设 */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 15px;
    align-items: center;
}

.button .fas {
    display: flex;
    height: 10px;
    min-height: 10PX;
    width: 10px;
    min-width: 10PX;
    background-color: white;
    /* 背景颜色为白色 */
    border-radius: 50%;
    /* 圆形按钮的圆角 */
    padding: 7px;
    /* 按钮周围的空间 */
    color: #7D3C98;
    /* 按钮颜色为深紫色 */
    
    
    align-items: center;
    transition: transform 0.3s ease;
    /* 过渡动画 */
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}
  
  .button:hover .fas {
    transform: translateX(120px);
  }
  
  .button:hover .starttext {
    transform: translateX(-30px);
  }
  
  .button .starttext {
    transition: transform 0.3s ease;
  }
  
  .blocks-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: auto;
    margin-top: 5rem;
  }
  
  .block-left {
    width: 47%;
    height: 300px;
    margin-left: -1%;
    border-radius: 20px;
    text-align: left;
  }
  
  .block-right {
    width: 47%;
    height: 380px;
    background-color: white;
    margin-right: 0;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgb(179, 127, 201, 0.01), rgb(179, 127, 201));
    display: flex;
    position: relative;
  }
  
  .slogan {
    font-size: 3rem;
    color: #000000;
    letter-spacing: -0.04em;
    text-transform: none;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
    line-height: 110%;
    font-family: Avantt, sans-serif;
  }
  
  .introduction {
    font-family: Avantt, sans-serif;
    margin-left: 0;
    margin-top: 2rem;
  }
  
  .introduction ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 0.7rem;
  }
  
  li {
    float: left;
    margin-left: 0;
  }
  
  .start1 {
    float: left;
    position: absolute;
  }
  
  .button-button {
    display: flex;
    margin-top: 1rem;
    margin-left: 2.5rem;
  }
  
  .button-contactus {
    height: 45px;
    width: 200px;
    font-size: 16px;
    font-family: Avantt, sans-serif;
    color: black;
    margin-left: 210px;
    border: black solid 1px;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    line-height: 45px;
    transition: background-color 0.6s ease;
  }
  
  .button-contactus p {
    margin-top: -2px;
    transition: color 0.6s ease;
  }
  
  .button-contactus:hover {
    background-color: #000000;
  }
  
  .button-contactus:hover p {
    color: white;
  }
  
  .aim {
    width: calc(100vw - 5rem);
    height: 120px;
    background-color: white;
    border-radius: 20px;
    margin-top: 4.5rem;
    margin-left: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 1rem;
    font-family: Avantt, sans-serif;
    line-height: 100px;
    font-weight: 900;
    -webkit-text-size-adjust: 100%;
  }